.Acontainer{
    margin:auto;
    width:50%;
    height:64%;
    border:1px solid transparent;
    border-radius: 4px;
    text-align: center;
    color: #222;
    letter-spacing: 0;
    font-family:sans-serif;
    box-shadow: 0 0 3px 0 rgb(179, 177, 177);
    margin-bottom: 60px;
    
}
hr{
    width:40%;
   
}
.Aheader{
    width:100%;
    height: 178px;
}
.Arequired:after{
    content:"*";
    color:#fc8478 ;
}
#Amyform{
    width:70%;
    border:1px solid transparent;
    margin:auto;
    text-align: left;
    line-height:45px;
    font-size: 14px;
}
#Ahead{
    width:100%;
    height:40%;
    border:1px solid transparent;
}
.anoborder{
    width:98%;
    height:35px;
    border: 1px solid black;
    border-radius: 0%;
}
h1{
    font-size: 37px;
    margin-bottom:0px;
    margin-top:35px;
}
#Asecondline{
    margin-top: 1px;
    font-size: 17px;
    color:#3f3b36;
    word-spacing: 0.5mm;
}
#Abutton{
    width:27%;
    height:40px;
    border:2px solid black;
    margin-left: 33%;
    margin-top: 20px;
    background-color: white;
    color:black;
}
#Abutton:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
#already{
    text-align: center;
}

/* WRONG INPUT ALERT */
#Awrongalert{
    width:75%;
    /* height:100px; */
    background-color: #fff8f8;
    border:1px solid #dd3f3f;
    margin:auto;
    text-align: left;
}

li{
    font-size: 13px;
    color:#524339;
 }
  #aplease{
    margin-left:10px;
    font-weight: 750;
 }