.Acontainer{
    margin-top: 40%;
    margin:auto;
    width:50%;
    height:380px;
    border:1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    color: #222;
    letter-spacing: 0;
    line-height: 1.428;
    font-family:sans-serif;
    box-shadow: 0 0 6px 0 #ccc;
    margin-bottom: 60px;
}
hr{
    width:40%;
   
}
.Aheader{
    width:100%;
    height: 170px;
}
#Aup{
    font-size: 23px;
    padding-top: 14px;
}
#Abutton{
    width:135px;
    height:49px;
    color: #ffffff;
    background: #3a3a3a;
    border:transparent;
    margin-bottom: 10px;
}
button:hover{
    cursor: pointer;
}
#Asmall{
    width: 100%;
    height: 120px;
}