
body{
    margin-right: 1.5%;
    margin-left: 1.5%;
    /* border: 1px solid red; */
} 
#rheadinglogo{    
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0px;
    width: 100%;
    height: 120px;
    /* border: 1px solid darkmagenta; */
    display: flex;
    margin-top: 0px;
    background-color: white;
    z-index: 2;
}
#rheading{
    text-align: center;
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    justify-content: center;
    margin-left: 27%;
    margin-top: 0px;
}
#rheading img{
    margin-top: 7px;
    width: 33%;
    /* width: 240px; */
    padding: 2%;
    /* z-index: 6; */
}
@media only screen and (max-width:1020px){
    #rheading img{
        width: 100px;
        margin-top: 12px;
        z-index: 10;
    }
}
/* #rheading p{
    text-align: center;
    cursor: pointer;
} */
/* #rKOOVS{
    border: 1px solid black;
    width: 30%;
    height: 40%;
    margin-left: 22%;
} */
/* #rKOOVS p{
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 200%;
} */
#rMW{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid tomato; */
    /* width: 90%; */
    /* margin-top: 18px; */
    /* margin-left: 4%; */
}
#rMW p{
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}
.rmenbutton{
    position: relative;
    display: inline-block;
    /* margin-left: -200px; */
}
.rwombutton{
    position: relative;
    display: inline-block;
}
.rmenlist{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.rmendrop,.rwomdrop{
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  margin-left: -420px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.rwomdrop{
    margin-left: -500px;
}
.rmendrop a,.rwomdrop a{
  color: black;
  padding: 7px;
  text-decoration: none;
  display: block;
}
.rmenphoto,.rwomphoto{
    margin-left: 8%;
    margin-right: 5%;
    /* border: 1px solid teal; */
    width: 300px;
    height: 350px;

}
/* .rmenphotodiv{
    border: 1px solid blue;
    width: 100%;
    height: 75%;
} */
.rmenphotodiv,.rwomphotodiv{
    /* border: 5px solid tomato; */
    margin: auto;
    border-radius: 5px;
    height: 75%;
    width: 70%;
    background-image: url(https://cdn.shopify.com/s/files/1/0584/9399/3141/products/170316_b6afa4066d1f4b5882b0fe9ab66a1f9c_back_zoom_720x.jpg?v=1631125699);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rwomphotodiv{
    background-image: url(https://cdn.shopify.com/s/files/1/0584/9399/3141/products/IMG_3028_1200x1200.jpg?v=1633701522);
}
/* .rmendrop a:hover,.rwomdrop a:hover{
    background-color: none;
} */
.rmwphotocontent{
    margin-top: 10px;
    /* border: 1px solid red; */
    width: 100%;
    height: 25%;
    line-height: 8px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}
#rmwprice2{
    text-decoration: line-through;
    font-size: 5px;
}
#rmwprice1{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
#rmwprice3{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.rmwphotoflex{
    display: flex;
    justify-content: center;
}
.rmenbutton:hover .rmendrop,.rwombutton:hover .rwomdrop{
    display: block;
}
.rmenlist,.rwomlist{
    display: flex;
    padding: 10%;
    padding-top: 5%;
    background-color: white;
    border-radius: 10px;
    width: 190%;
    height: 200%;
    text-align: center;
    justify-content: space-between;
}
.rmenlist div a,.rwomlist div a{
    color: rgb(110, 107, 107);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
/* .rwomlist div{
    padding: 4%;
} */
#r1mw{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
@media only screen and (max-width:1020px){
    #rMW{
        display: none;
    }
}


#rlogo{
    /* border: 1px solid green; */
    width: 25%;
    height: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: end;
    z-index: 1;
}
#rlogo img{
    /* right: 0; */
    /* width: 3vw;
    height: 5vh; */
    /* margin-right: 15px; */
    margin-left: 2%;
    cursor: pointer;
}
.rlogoimg{
    margin-left: 0px;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-right: 15px
}
.rsearch{
    position: relative;
    display: inline-block;
}
.rsearchdrop{
  display: none;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 60%;
  margin-left: -160px;
  margin-top: -5px;
}
.rsearchdrop select{
    box-shadow: 5px 5px 10px;
    color: black;
    border-radius: 10px;
    border: none;
    justify-content: center;
    width: 80%;
    margin: auto;
    /* margin-top: 0px; */
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 11px;
    color: darkgray;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    margin-top: -15px;
}
.rsearchdrop div{
    margin: auto;
    margin-top: 10%;
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
}
.rsearchdrop div button,input{
    padding: 10px;
    
    box-shadow: 5px 5px 10px;
    border: none;
    color: darkgray;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    color: black;
    /* border-radius: 4px; */

}
.rsearchdrop div input{
    
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
}
.rsearchdrop div button{
    max-height: 100%;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px;
    background-color: white;
    width: 25%;
    margin-left: 0px;
    cursor: pointer;
}
.rsearch:hover .rsearchdrop{
    display: block;
}
.rinputlogo{
    width: 75%;
}
@media only screen and (max-width:767px){
    #rsecthirdlogo{
        display: none;
    }
    #rwishline p{
        display: none;
    }
    #rlogo{
        margin-top: 0px;
    }
    #rsearchlogo{
        margin-left: 0px;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 15px
    }
    #rfourthlogoimg{
        margin-left: 0px;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-right: 15px;
    }

}
#rbagline{
    line-height: 0px;
    text-align: start;
    font-size: 10px;
}
#rbagline p{
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}
#rwishline{
    line-height: 0px;
    text-align: start;
    font-size: 10px;
}
#rwishline p{
    font-family: 'Poppins', sans-serif;
}
/* Menu Footer after media Queries */
#rmenufooter{
    display: none;
}

/* .rfooter1 span{
    font-size: 25px;
    color: rgb(78, 75, 75);
}
.rfooter2 span{
    font-size: 25px;
    color: rgb(78, 75, 75);
}
.rfooter3 span{
    font-size: 25px;
    color: rgb(78, 75, 75);
}
.rfooter4 span{
    font-size: 25px;
    color: rgb(78, 75, 75);
}
.rfooter5 span{
    font-size: 25px;
    color: rgb(78, 75, 75);
} */
@media only screen and (max-width:1020px){
    #rmenufooter{
        display: block;
        width: 100%;
        height: 65px;
        /* border:1px solid red; */
        display: flex;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        background-color: white;
        z-index: 1;
        position: fixed;
        bottom: 0;

        
    }
    .fas{
        color: black;
    }
    /* .fa-th-large,.fa-user,.fa-shopping-bag{
    color: black;
    border: 1px solid black;
}
.fa-heart,.fa-search{
    color: black;
    border:1px solid black;
} */
    #rmenufooter div{
        width:20%;
        height: 100%;
        /* border: 1px solid teal; */
        line-height: 0px;
        margin-top: 4px;
    }
    #rmenufooter p{
        color: rgb(78, 75, 75);
    }
    #rmenufooter span{
        
        font-size: 25px;
        color: black;
    }    
}


/* LEFT PART MENU AFTER MEDIA QUEIRES HAPPEN */
#rboxmenu{
    display: none;
}
@media only screen and (max-width:1020px){
    #rboxmenu{
        display: block;
        position: fixed;
        cursor: pointer;
        left: 0;
        top: 0;
        margin-left: 1%;
    }
}
/* REWARD and Button */

#rrewardbutton a{
    height: 30px;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkgrey;
    position: fixed;
    right: 0;
    margin-right: 20px;
    bottom: 0;
    margin-bottom: 55px;
    z-index: 3;
    cursor: pointer;
}
#rrewardbutton #rreward{
    z-index: 4;
    position: fixed;
    /* border: 1px solid red; */
    cursor: pointer;
    right: 0;
    bottom: 0;
}
#rreward{
    display: flex;
    background-color: rgb(116, 116, 218);
    border-radius: 0%;
    border-top-left-radius: 50px;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 14px;

}
.rrewardspan{
    
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-right: 2px;
    margin-top: 12px;
    /* border: 1px solid red; */
    margin-left: 8px;
}
.fa-shopping-bag{
    font-size: 20px;
    color: white;
}
#rreward p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* margin-left: 2px; */
    margin-right: 15px;
    font-size: 14px;
    color: white;
}


/* IMAGE CHANGING PART */
#rinterval{
    margin-top: 1%;
    /* border: 1px solid orange; */
    width: 100%;
    height: 57%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.rslide{
    display: flex;
    width: 500%;
    height: 100%;
}
.rslide input{
    display: none;
}
.rslideall{
    width: 20%;
    transition: 2s;
}
.rslideall img{
    width: 100%;
    height: 100%;
}
/* here we are writing for manual sliding */
.rnavigationmanual{
    position: absolute;
    width: 100%;
    margin-top: -3%;
    display: flex;
    justify-content: center;
}
.rmanualbutton{
    border: 2px solid lightsalmon;
    padding: .4%;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    margin-right: .7%;
}
.rmanualbutton:hover{
    background-color: lightsalmon;
}

#r1button:checked ~ .rfirst{
    margin-left: 0;
}
#r2button:checked ~ .rfirst{
    margin-left: -20%;
}
#r3button:checked ~ .rfirst{
    margin-left: -40%;
}
#r4button:checked ~ .rfirst{
    margin-left: -60%;
}
/* Now for auto change image */
/* .rnavigationauto{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.rnavigationauto div{
    border: 2px solid lightsalmon;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
} */
/* #r1button:checked ~ .rnavigationauto .rauto1{
    background: lightsalmon;   
}
#r2button:checked ~ .rnavigationauto .rauto2{
    background: lightsalmon;   
}
#r3button:checked ~ .rnavigationauto .rauto3{
    background: lightsalmon;   
}
#r4button:checked ~ .rnavigationauto .rauto4{
    background: lightsalmon;   
} */



#radd{
    margin-top:1.5%;
    /* border: 1px solid darkturquoise; */
    width: 100%;
    height: 100%;
}

#radd img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

#r1twothreebox{
    margin-top: 1.5%;
    /* border: 1px solid teal; */
    width: 100%;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1.5%;
}
#r1twothreebox div img{
    width: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
#r1twothreebox div:hover img{
    transform: scale(1.1);
}
@media only screen and (max-width:768px){
    #r1twothreebox{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        grid-gap: .5%;
        margin-bottom: 18%;
    }
}



/* FOUR ROWS */

#rfourrows{
    margin-top: 6%;
    width: 100%;
    height: 150%;
    text-align: center;
    /* border: 1px solid darkred; */
    display: grid;
    grid-template-rows: 18% 15% 40% 3% 25%;
    grid-gap:1%;
}
#rfourrows div{
    /* height: 100%; */
    max-width: 100%;
    margin-bottom:2%;
    /* border: 1px solid goldenrod; */
}


#rfourrows div img{
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height: 100%;
    cursor: pointer;
}
#rfourrows div p{
    font-family: 'Poppins', sans-serif;

}

#r5circle{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: repeat(3,220px); */
}
#r5circle div{
    /* border: 1px solid teal; */
    /* width: 100%; */
    height: 80%;
}
/* #r5circle div img{
    height: 85%;
    margin-top: 9%;
} */
@media only screen and (min-width:640px) and (max-width:1025px){
    #r5circle{
        margin-top: 0px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* grid-template-rows: repeat(3,85%); */
        /* grid-column-gap: 30%; */
        grid-row-gap: 15px;
        /* margin-right: 30%; */
        /* margin-left: 5%; */
        /* border: 1px solid red; */
        height: 720px;
    }
    
    /* #r5circle div{
        border: 1px solid blue
    } */
    #r5circle div img{
        width: 70%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .check{
        margin-top: 55%;
    }
}

@media only screen and (max-width:640px){
    #r5circle{
        margin-top: 0px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* grid-template-rows: repeat(3,85%); */
        /* grid-column-gap: 30%; */
        grid-row-gap: 5px;
        /* margin-right: 30%; */
        margin-left: 10%;
        margin-right: 10%;
        /* border: 1px solid red; */
    }
    /* #r5circle div{
        height: 250px;
        border: 1px solid blue
    } */
    #r5circle div img{
        width: 100%;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .check{
        margin-top: 60%;
    }
} 


#rblog{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    height: 100%;
    font-weight: bold;
    /* border: 1px solid red; */
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}


#r4zoombox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 1% 0 1%;
    /* border: 1px solid red; */
}
#r4zoombox div{
    /* border: 1px solid teal; */
    width: auto;
    height: 100%;
    display: grid;
    margin:0 .5% 0 .5%;
    grid-template-rows: 80% 15%;
    
}
#r4zoombox div img{
    /* border: 5px solid red; */
    width: 100%;
    border-radius: 5px;
}
#r4zoombox div div{
    /* border: 5px solid blue; */
    width: 100%;
    height: 100%;
    line-height: 0px;
}
.rwrite1{
    font-size: 160%;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.rwrite2{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}
@media only screen and (max-width:1024px){
    #r4zoombox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width:768px){
    #r4zoombox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}