

#p_pcontainer{
   box-shadow:2px 4px 10px 10px rgb(218, 214, 214);
   background-color: #fefefe;
   text-align: center;
   margin-top: 50px;
   
   justify-content:center;
   /* width:40%; */
   /* width:500px; */
   width:70%;
   height:450px;
   align-items: center;
}
.ph{
   font-family: sans-serif;
   text-decoration:underline 3px solid #d47303;
   font-size: 22px;
   padding-top: 25px;
}
.pp{
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}
#pphone{
    background-color: rgb(243, 243, 243);
    width:40%;
    height:40px;
    border-radius: 5px;
    text-align: center;
    border:0;
    font-size: large;
    font-weight: lighter;
}
.pb{
    background-color:rgb(241, 108, 19);
    color: white;
    font-weight: bold;
    font-size: 21px;
    height: 50px;
    width:150px;
    border: 0;
    border-radius: 5px;
    margin: 100px auto 100px auto;
    cursor: pointer;
    box-shadow: 0 3px 20px rgb(250, 196, 96);
}
.ps{
    background-color: rgb(241, 239, 239);
    width:10%;
    height:40px;
    border: 0;
    font-size: large;
    font-weight: lighter;
}
@media only screen and (min-width:375px) and (max-width:768px){
    #p_container{
        max-width: fit-content;
        min-width: fit-content;
    }
}
@media only screen and (min-width:0px) and (max-width:375px){
    #p_container{
        max-width: fit-content;
        min-width: fit-content;
    }
}

