* {
  font-family: "Poppins", sans-serif;
}
* {
  font-size: 15px;
}
body{
    background-color: rgb(250,250,250);
    /* height: 700px; */
    margin-left: 1.5%;
    margin-right: 1.5%;
}
#rdiscount{
  background-color: black;
  color: white;
  font-weight: bold;
}
#vsname {
  font-size: 32px;
}

#vpmain {
  width: 98%;
  display: flex;
  /* border: 1px solid blue; */
  margin-top: 0px;
}
.pleft {
  height: 660px;
  padding: 45px 65px;
  background-color: white;
}
.fas {
  font-size: 12px;
  color: rgb(43, 43, 43);
}

.pright {
  width: 35%;
  border-left: 1px solid rgb(167, 167, 167);
}

.vbord {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  width: 98%;
  margin-bottom: 45px;
}
.vsmdetails {
  display: flex;
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
}

.vsec {
  border-bottom: 1px solid rgb(167, 167, 167);
  padding-top: 15px;
  padding-bottom: 15px;
}
.vsmdetails > div:nth-child(1) {
  width: 15%;
  margin-right: 5%;
}
.vsmdetails > div:nth-child(2) {
  width: 75%;
  margin-right: 5%;
}
.vsmdetails > div:nth-child(3) {
  width: 10%;
  margin-right: 5%;
}

.vsbill {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin-bottom: 45px;
  width: 98%;
  margin-top: 35px;
}

.vcompl {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.vsbutlast {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 18px 20px;
}
.textmiddle {
  padding-top: 15px;
  
}
.textmiddle i{
  color: rgb(73, 73, 189);
}
.textmiddle a{
  color: rgb(73, 73, 189);
  text-decoration: none;
}
.vsec123 {
  border-bottom: 1px solid rgb(167, 167, 167);
}
.vcolblue {
  color: rgb(73, 73, 189);
  font-size: 13px;
}

#vsizesmall {
  font-size: 13px;
}

/* .vrighttop {
  width: 85%;
  display: flex;
  margin: auto;
  margin-top: 35px;
  border-bottom: 1px solid rgb(167, 167, 167);
} */

/* .vrighttop > div:nth-child(1) {
  width: 85%;
  height: 100px;
} */
/* .vrighttop > div:nth-child(2) {
  width: 20%;
  height: 100px;
  margin-left: 1%;
} */
#rpaymentrightbox{
  /* border: 1px solid red; */
  margin-top: 16%;
}
.vhawai{
    font-size: 13px;
}
.vcol22{
  /* border: 1px solid teal; */
    color: gray;
}
.vrighttop222 > div > input{
  /* border: 1px solid tomato; */
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray ;
    padding: 0px 5px;
}
.vrighttop222{
  /* border: 1px solid blue; */
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 15px;
     border-bottom: 1px solid rgb(167, 167, 167);
    height: 58px;
}
.vrighttop222 > div:nth-child(1){
   width: 75%;
}
.vrighttop222 > div:nth-child(2){
    width: 25%;
    padding: 2px 20px;
 }
.vrighttop222 > div > button{
    padding: 10px 40px;
    border-radius: 5px;
    /* border: 1px solid tomato ; */
    background-color: rgb(200,200,200);
    color: white;
}

.vsideside{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    
}

.clbottbord{
    border-bottom: 1px solid rgb(167, 167, 167);
}
#vsname00{
    font-size: 26px;
}
#vmain{
  /* border: 1px solid tomato; */
  margin-top: 0px;
  width: 100%;
}