#rpaymentoption a{
    text-decoration: none;
    color: black;
}

#rpaymentoption{
   margin-left: 0px;
   margin-top: 0px;
}

.rcreditpayment{
    box-shadow: 5px 5px 10px;
}

#rpayment{
    /* border: 1px solid blue; */
    width: 50%;
    height: 90%;
    margin: auto;
    margin-left: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;

}

.rcardnumber{
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    line-height: 2px;
}
.rcardnumber input{
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: 1px 1px 5px;
    border: none;
}
#rexpcvv{
    /* border: 1px solid teal; */
    width: 80%;
    margin: auto;
    line-height: 2px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.rexp input,.rcvv input{
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: 1px 1px 5px;
    border: none;
}
.rnamecard{
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    line-height: 2px;
    margin-top: 8%;   
}
.rnamecard input{
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: 1px 1px 5px;
    border: none;
}


#rproceed{
    /* border: 1px solid red; */
    width: 80%;
    height: 30px;
    margin: auto;
    /* text-align: center; */
    margin-top: 8%;
}
#rproceed button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:rgb(241, 108, 19);
    border-radius: 10px;
    margin-left: 30%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 10px;
}