body{
    margin: 1% 1%;
    /* border: 1px solid yellow; */
}

#rrmainbox{
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    height: 600px;
    margin-top: 4%;
}
#rr1stbox{
    border-radius: 60%;
    border: 1px solid white;
    width: 40%;
    height: 10%;
    margin: auto;
    text-align: center;
    background-color: teal;
    margin-top: 20px;
}
#rr1stbox p{
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    /* font-weight: bold; */
    background-color: white;
}
#rr2ndbox{
    /* border: 1px solid purple; */
    width: 90%;
    margin: auto;
    margin-top: 0px;
    height: 70%;
    display: flex;
}
#rpaymentoption{
    /* border: 1px solid orange; */
    width: 30%;
    height: 70%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    /* margin-left: 0; */
    /* border: 2px dotted black; */
}
#rpaymentoption a{
    text-decoration: none;
    color: black;
}
#rpaymentoption div{
    margin-top: 10px;
    /* border: 1px solid violet; */
    padding: 1%;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#rpaymentoption div img{
    width: 70%;
    /* height: 80%; */
}
#rpaymentoption div p{
    text-shadow: 2px 2px grey;
}

