#rpaymentoption a{
    text-decoration: none;
    color: black;
}

#rpaymentoption{
   margin-left: 0px;
   margin-top: 0px;
}

.rupipayment{
    box-shadow: 5px 5px 10px;
}
#rpayment{
    width: 50%;
    height: 90%;
    margin: auto;
    margin-left: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;

}

.rupiid input{
    width: 30%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: 1px 1px 5px;
    border: none;
}
.rupiid{
    text-align: center;
    margin-top: 12%;
}

#rproceed{
    width: 80%;
    height: 30px;
    margin-top: 8%;
}
#rproceed button{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:rgb(241, 108, 19);
    border-radius: 10px;
    margin-left: 50%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 10px;
    cursor: pointer;
}